body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px 30px;
  max-width: 600px;
}

div {
  text-align: justify;
  padding: 0px 50px 0px 50px;
}
img {
  width: 50%;
  height: auto;
}
ul {
  list-style-type: none;
  padding-left: 20px;
}
input {
  margin-right: 20px;
}

nav .button {
  display: block;
  width: fit-content;
  background-color: rgba(170, 172, 179, 0.5);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-right: 0;
  margin-left: auto;
}

.button:hover {
  color: rosybrown;
  background-color: rgba(168, 170, 177, 0.226);
}
